body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 500;
    background-color: #fceaea;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-weight: 600;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-weight: 600;
}

p {
    color: #555;
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 20px;
    font-weight: 900;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00ff08;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #28702b;
    color: rgb(255, 255, 255);
}

.animation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.animation {
    width: 100px;
    height: 100px;
    background-color: #4CAF50;
    border-radius: 50%;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
