body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #a3cea1 0%, #b2f6b5 100%);
}

header {
    background-color: #2c310e;
    color: #ffffff;
    text-align: center;
    padding: 1em 0;
    border-radius: 0 0 10px 10px;
}

header h1 {
    margin: 0;
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

nav {
    background-color: #444;
    padding: 0.5em 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

a:hover {
    background-color: #818262;
}

.section {
    padding: 20px;
    border-bottom: 1px solid #386cc7;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-in-out forwards;
    transition: background 1.5s ease-in-out;
    background: rgba(255, 255, 255, 0.1);
}

.fhalf, .shalf {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.fhalf h2, .shalf h2 {
    margin-top: 0;
    font-size: 1.5em;
    color: #333333;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

.fhalf p, .shalf p {
    color: #666666;
}

.shalf iframe {
    width: 100%;
    height: 300px;
    border: 4px solid grey;
    border-radius: 15px;
}

.section:hover {
    background: rgba(255, 255, 255, 0.3);
}

footer {
    background-color: #09291a;
    color: #ffffff;
    text-align: center;
    padding: 1em 0;
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
