body {
    background: linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #00DBDE;
    background-image: linear-gradient(117deg, #00DBDE 12%, #FC00FF 90%);
    color: #fff;
    text-align: center;
    padding: 1em 0;
    animation: fadeIn 1s ease-in-out;
}

header:hover {
    background-color: #FC00FF;
}

nav {
    background-color: #444;
    transition: background-color 0.3s ease-in-out;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

a:hover {
    background-color: #a53131;
}

section {
    padding: 20px;
    border-bottom: 1px solid #386cc7;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-in-out forwards;
    transition: background 0.5s ease-in-out;
}

section:hover {
    background: rgba(255, 255, 255, 0.1);
}

section:nth-child(odd) {
    background: rgb(12,102,69);
    background: linear-gradient(90deg, rgba(12,102,69,1) 0%, rgba(105,87,12,1) 7%, rgba(12,50,105,1) 25%, rgba(10,23,115,1) 31%, rgba(121,9,117,1) 45%, rgba(119,206,40,1) 76%, rgba(191,56,218,1) 96%);
}

iframe {
    width: 100%;
    height: 400px;
}

footer {
    background-color: #5558ed;
    color: #450909;
    text-align: center;
    padding: 1em 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
