body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #1b7787 0%, #3A1C71 100%);
}

header {
    background: linear-gradient(117deg, #00DBDE 12%, #FC00FF 90%);
    color: #2d0404;
    text-align: center;
    padding: 1em 0;
    animation: fadeIn 1s ease-in-out;
}

h1 {
    margin: 0;
}

section {
    padding: 20px;
    margin: 20px 0;
    background: linear-gradient(90deg, #8e3075 0%, #3A1C71 100%);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(131, 119, 119, 0.1);
    opacity: 1;
    transform: translateY(20px);
    transition: background 0.3s ease-in-out, opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

section:hover {
    background: rgba(105, 222, 122, 0.1);
}

section:hover h2 {
    color: #4dbe61; /* Change color on hover */
}

footer {
    background: linear-gradient(117deg, #00DBDE 12%, #FC00FF 90%);
    color: #6c0b56;
    text-align: center;
    padding: 1em 0;
}
