body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(226, 119, 53);
    background: linear-gradient(142deg, rgba(226, 119, 53, 1) 0%, rgba(21, 88, 109, 1) 27%, rgba(85, 43, 129, 1) 100%);
    color: #fff;
}

header {
    background: #333;
    text-align: center;
    padding: 20px;
}

section {
    max-width: 800px;
    margin: 20px auto;
    background: rgb(191, 151, 128);
    background: linear-gradient(142deg, rgba(242,198,172,1) 7%, rgba(63,162,193,1) 29%, rgba(135,150,69,1) 65%, rgba(99,175,131,1) 100%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #333;
    transition: transform 0.3s ease-in-out;
}

section:hover {
    transform: scale(1.05);
}

h2 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 8px;
}

a {
    color: #392503;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #ffcc00;
}
